In [2]:
import pandas as pd

In [38]:
fourrunner=pd.read_json('https://raw.githubusercontent.com/zyune/data_visualization_web/master/scrapy_%20spider/tutorial/tutorial/spiders/Fourrunner.json',
                        dtype={'price':float,'millage':float})

In [41]:
fourrunner

,name,price,millage,link
0,2018 Toyota 4Runner Limited,"43,990","39,685.",https://www.cars.com/vehicledetail/59f0ccdb-44...
1,2018 Toyota 4Runner Limited,"43,000","47,169.",https://www.cars.com/vehicledetail/627c364c-84...
2,2018 Toyota 4Runner Limited,"40,998","63,270.",https://www.cars.com/vehicledetail/e0eab589-da...
3,2018 Toyota 4Runner Limited,"43,850","48,030.",https://www.cars.com/vehicledetail/be1ed83f-62...
4,2018 Toyota 4Runner Limited,"44,029","60,285.",https://www.cars.com/vehicledetail/52585152-eb...
...,...,...,...,...
1481,2018 Toyota 4Runner SR5,"43,982","19,871.",https://www.cars.com/vehicledetail/0093d24a-cf...
1482,2018 Toyota 4Runner Limited,"45,982","42,378.",https://www.cars.com/vehicledetail/ebbcacf3-8b...
1483,2018 Toyota 4Runner SR5 Premium,"38,887","74,395.",https://www.cars.com/vehicledetail/2ff95e0f-ea...
1484,2018 Toyota 4Runner SR5 4WD,"40,271","56,261.",https://www.cars.com/vehicledetail/efe5f21d-7a...
1485,2018 Toyota 4Runner Sport,"41,991","53,459.",https://www.cars.com/vehicledetail/24fb51e3-10...

In [40]:
fourrunner['price'].dtype

dtype('O')